.coursesCard {
  padding: 50px 0;
}
.coursesCard .items {
  background-color: #fff;
  padding: 30px;
  text-align: center;
  box-shadow: 0 5px 25px -2px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
}
.coursesCard .items:hover {
  transform: translateY(-10px);
}

.coursesCard .img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #7F3E99;
  padding: 15px;
  margin: 0 auto;
}
.coursesCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.courseTitle {
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
  color: #333;
}

.courseDescription {
  text-align: left;
  margin: 15px auto;
  padding-left: 20px;
  max-width: 250px;
  color: #555;
  font-size: 15px;
  list-style: none;
}
.courseDescription li {
  margin-bottom: 8px;
}

.coursesCard .price {
  margin: 20px 0;
  background-color: #f8f8f8;
  padding: 10px;
}
.coursesCard h3 {
  font-weight: 500;
  color: #7F3E99;
}

.outline-btn {
  background-color: transparent;
  color: #7F3E99;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}
.outline-btn:hover {
  background-color: #7F3E99;
  color: white;
}

.coursesCard {
  padding: 50px 0;
}
.coursesCard .items {
  background-color: #fff;
  padding: 30px;
  text-align: center;
  box-shadow: 0 5px 25px -2px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
}
.coursesCard .items:hover {
  transform: translateY(-10px);
}

.coursesCard .img {
  width: 80px;
  height: 80px;
  background-color: #7F3E99;
  padding: 15px;
  margin: 0 auto;
}
.coursesCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.courseTitle {
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
  color: #333;
}

.courseDescription {
  text-align: left;
  margin: 15px auto;
  padding-left: 20px;
  max-width: 250px;
  color: #555;
  font-size: 15px;
  list-style: none;
}
.courseDescription li {
  margin-bottom: 8px;
}

.coursesCard .price {
  margin: 20px 0;
  background-color: #f8f8f8;
  padding: 10px;
}
.coursesCard h3 {
  font-weight: 500;
  color: #7F3E99;
}

.outline-btn {
  background-color: transparent;
  color: #7F3E99;
  padding: 8px 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}
.outline-btn:hover {
  background-color: #7F3E99;
  color: white;
}
/*-------------online---------*/
.content.grid3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  justify-content: center;
  margin-top: 0px;
  padding: 0 10px;
}

.online .box {
  background-color: #fff;
  box-shadow: 0 5px 25px -2px rgba(0, 0, 0, 0.06);
  padding: 40px;
  border-radius: 0x;
  transition: 0.3s ease;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;

}

.online .box:hover {
  background-color: #5a2d6c;
  color: #fff;
  transform: translateY(-10px);
  cursor: pointer;
}

.online .box:hover span {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.online .icon-category svg {
  color: #7F3E99;
  transition: color 0.3s ease;
}

.online .box:hover .icon-category svg {
  color: #fff;
}


.online h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px;
  text-align: center;
}

.online span {
  background-color: #f8f8f8;
  padding: 5px 20px;
  font-size: 15px;
  font-weight: 500;
  color: #7F3E99;
  border-radius: 5px;
  display: inline-block;
}

/*-------------online---------*/
@media screen and (max-width: 768px) {
}
