.mobile-app-section {
    padding: 0px 0px 60px 0px;
    background: #fdfdfd;
  }
  
  .mobile-app-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  
  .mobile-app-image img {
    width: 100%;
    max-width: 200px;
    border-radius: 12px;
  }
  
  .mobile-app-info {
    flex: 1;
    max-width: 500px;
  }
  
  .mobile-app-info h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .mobile-app-info p {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.6;
  }
  
  .download-btn {
    padding: 14px 24px;
    font-size: 16px;
    font-weight: bold;
    background-color: #7F3E99;
    color: #fff;
    border: none;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .download-btn:hover {
    background-color: #692f87;
  }
  
  @media screen and (max-width: 768px) {
    .mobile-app-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .mobile-app-info {
      max-width: 100%;
    }
  
    .mobile-app-image img {
      max-width: 300px;
    }
  }
  